td {
    white-space: nowrap;
}

.input-title{
    float: left;
    margin-right: 30px;
    margin-top: 10px;
}

#checkbox{
    margin-top:15px;
}

@media only screen and (max-width: 750px) {
    body {
      background-color: lightblue;
    }
  }
