!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script defer src="script.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <section class="section">
    <div class="container">
        <h1 class="title">
            Hello World
        </h1>
        <p class="subtitle">
            My first website with <strong>Bulma</strong>!
        </p>

        <!-- TODO: created a button with an onlick event listener that will add a donut -->
        <!-- TODO: input fields for our added donut-->
        <div class="container is-fluid">
            <div class="columns">
                <div class="column">
                    <input id="name" class="input" type="text" placeholder="name">
                </div>
                <div class="column">
                    <input id="frosted" class="input" type="text" placeholder="frosted">
                </div>
                <div class="column">
                    <input id="type" class="input" type="text" placeholder="type">
                </div>
                <div class="column">
                    <button class="button" onclick="addItem()">Submit Donut</button>
                </div>
            </div>
           
            
        </div>
        <table class="table">
            <thead>
                <tr>
                    <td>
                        ID
                    </td>
                    <td>
                        NAME
                    </td>
                    <td>
                        FROSTED
                    </td>
                    <td>
                        DONUT TYPE
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>

                </tr>
            </thead>
            <tbody>
                
            </tbody>

        </table>
    </div>
</section>
</body>

</html>